.banner {
    height: 80vh;
    width: 100%;
    background: url(/img/workbg2.jpg) no-repeat center/cover;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0 80px 30px;
}

.project-item {
    flex-basis: 29%;
    margin: 0 2.1% 32px;
    /* 模糊效果 */
    /* transform:
        perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(2px);
    border-radius: 16px;
    overflow: hidden;
    opacity: 0.4;
    transition: 0.6s ease all; */

    /* 卡片阴影 */
    transform:
        perspective(1050px) translate3d(0px, 0px, -150px) rotateX(25deg) scale(1, 1);
    border-radius: 16px;
    border: 4px solid #eee;
    overflow: hidden;
    box-shadow: 0 70px 80px -20px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease all;
}

.project-title h5 {
    margin-top: 12px;
    padding: 0 16px;
    font-size: 1.2rem;
    line-height: 26px;
    color: var(--gray1);
}

.project-desc {
    padding: 0 16px 12px;
    color: var(--gray3);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-cover {
    width: 100%;
    overflow: hidden;
}

.project-cover img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.project-item:hover {
    /* transform:
        perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1; */
    /* 卡片阴影 */
    transform: translate3d(0px, 0px, -250px);
}

/* 响应式查询 */
@media screen and (max-width:768px) {
    .project-items {
        display: flex;
        flex-direction: column;
        padding: 40px 0px 0px;
    }

    .project-item {
        width: 320px;
        margin: 0 0 24px;
    }

    .project-cover {
        width: 100%;
        overflow: hidden;
    }

    .project-cover img {
        width: 100%;
    }

    .project-title h5 {
        margin-top: 8px;
        font-size: 16px;
        line-height: 26px;
        color: var(--gray1);
    }

}


































/* .middlewrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: #091634;
}

.middlewrap h1 {
    margin: 32px 0px 16px;
    color: white;
}

.middlewrap iframe {
    width: 700px;
    height: 400px;
}
 */

/* 响应式查询 */
/* @media (max-width:768px) {
    .middlewrap iframe {
        width: 90%;
        height: 30%;
    }
} */